<a href="https://colab.research.google.com/github/vuchicago/Helloworld/blob/master/SDF_master_file.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
####MOUNT DRIVE
from google.colab import drive
drive.mount('/content/gdrive',force_remount=True)

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3aietf%3awg%3aoauth%3a2.0%3aoob&response_type=code&scope=email%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdocs.test%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive.photos.readonly%20https%3a%2f%2fwww.googleapis.com%2fauth%2fpeopleapi.readonly

Enter your authorization code:
··········
Mounted at /content/gdrive

In [0]:
import os
import pandas as pd
import datetime as dt
from datetime import date,timedelta as td


dir='/content/gdrive/My Drive' ##original  directory

dir_main=os.path.join(dir,'US Cement Extraction Files')
dir_yearly=os.path.join(dir_main,"Yearly")
dir_daily=os.path.join(dir_main,"Daily")
dir_output=os.path.join(dir_main,"Output_Files")


sdf_dir=os.path.join(dir,"SDF Outputs") ###SDF Main Directory
sdf_dir_weekly=os.path.join(sdf_dir,"Weekly") ###Weekly SDF Output Directory
sdf_dir_monthly=os.path.join(sdf_dir,"Monthly") ###Monthly SDF OUtput Directory
sdf_dir_monthly_v2=os.path.join(sdf_dir,"Monthly_noprojects")



os.chdir(dir_yearly)

In [0]:
list_dir=os.listdir(dir_yearly)

In [0]:
list_dir

['HUS_Cement_Report_201601.csv',
 'HUS_Cement_Report_201602.csv',
 'HUS_Cement_Report_201701.csv',
 'HUS_Cement_Report_201702.csv',
 'HUS_Cement_Report_201801.csv',
 'HUS_Cement_Report_201802.csv',
 'HUS_Cement_Report_201901.csv',
 'HUS_Cement_Report_201902.csv']

In [0]:
#######THIS CODE TESTS THAT THE DATE RANGES DO NOT OVERLAP WITHIN THE FILES.  INSPECT THE OUTPUT TO MAKE SURE THAT THE DATES DON'T OVERLAP
date_col=["Calendar day"]
date_list=[]
for files in list_dir:
  file_name=pd.read_csv(files,parse_dates=True)
  max_date=file_name[date_col].max()
  min_date=file_name[date_col].min()
  date_list.append(max_date[0])
  date_list.append(min_date[0])

#### SHOULD BE 'GOOD TO GO' IF THERE ARE NO OVERLAPPING DATES ############
date_list.sort()
for i,date in enumerate(date_list):
  if date_list[i]<date_list[i-1]:
    print("Overlapping Dates at".format(date))
  else:
    print("Good to Go")

/usr/local/lib/python3.6/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (0,18,20,29,34) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)
/usr/local/lib/python3.6/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (0,2,18,20,34) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)
/usr/local/lib/python3.6/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (0,2,18,20,24,29,34) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

Overlapping Dates at
Good to Go
Good to Go
Good to Go
Good to Go
Good to Go
Good to Go
Good to Go
Good to Go
Good to Go
Good to Go
Good to Go
Good to Go
Good to Go
Good to Go
Good to Go

In [0]:
############### CONCATENATES ALL THE FILES TOGETHER TO CREATE A MAIN FILE (STACKED COLUMNS)
Main_file=pd.DataFrame()
for files in list_dir:
  Main_file=pd.concat([Main_file,pd.read_csv(files)])

/usr/local/lib/python3.6/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (0,18,20,29,34) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)
/usr/local/lib/python3.6/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (0,2,18,20,34) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)
/usr/local/lib/python3.6/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (0,2,18,20,24,29,34) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [0]:
os.chdir(dir_output)

In [0]:

Main_file.to_csv("Main_file.csv")

In [0]:
####################################################################################################################################################################################################
####################################################################################################################################################################################################
####################################################################################################################################################################################################
############################## START HERE IF MAIN FILE HAS ALREADY BEEN CREATED ################################################################################################
os.chdir(dir_output)
Main_file=pd.read_csv("Main_file.csv")

/usr/local/lib/python3.6/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (1,3,19,21,25,29,30,35) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [0]:
Main_file=Main_file[Main_file["Product Type Name"]=="CEMENT"]
Main_file=Main_file[~Main_file["Sold To"].isin(["P5W02","P5W11"])]

In [0]:
####### Daily data  time

os.chdir(dir_daily)
list_dir_daily=os.listdir(dir_daily)
list(list_dir_daily)

['HUS_Cement_Report_20191119.csv',
 'HUS_Cement_Report_20191120.csv',
 'HUS_Cement_Report_20191121.csv',
 'HUS_Cement_Report_20191122.csv',
 'HUS_Cement_Report_20191123.csv',
 'HUS_Cement_Report_20191124.csv',
 'HUS_Cement_Report_20191125.csv',
 'HUS_Cement_Report_20191126.csv',
 'HUS_Cement_Report_20191127.csv',
 'HUS_Cement_Report_20191128.csv',
 'HUS_Cement_Report_20191129.csv',
 'HUS_Cement_Report_20191130.csv',
 'HUS_Cement_Report_20191201.csv',
 'HUS_Cement_Report_20191202.csv',
 'HUS_Cement_Report_20191203.csv']

In [0]:
########## FILTERS THE DAILY DATA TO SELECT ONLY DATA THAT'S MOST UP-TO DATE

date_min=Main_file["Calendar day"].min()
date_max=Main_file["Calendar day"].max()
for files in list_dir_daily:
  new_file=pd.read_csv(files,date_parser={'Month','Day','Year'})
  new_file=new_file[pd.to_datetime(new_file["Calendar day"])<=date.today()]
  if new_file["Calendar day"].max()>date_max:
    date_min=new_file["Calendar day"].min()
    Main_file=Main_file[Main_file["Calendar day"]<date_min]
    Main_file=pd.concat([new_file,Main_file],sort=True)

print(Main_file["Calendar day"].max())

/usr/local/lib/python3.6/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (0,2,18,20,34) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:6: FutureWarning: Comparing Series of datetimes with 'datetime.date'.  Currently, the
'datetime.date' is coerced to a datetime. In the future pandas will
not coerce, and a TypeError will be raised. To retain the current
behavior, convert the 'datetime.date' to a datetime with
'pd.Timestamp'.

/usr/local/lib/python3.6/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (0,2,18) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

2019-12-02

In [0]:
#################REPLACE INTEGERS TO STRINGS AND VICE VERSA.  TAKES A VERY LONG TIME.

Main_file["Plant"]=Main_file["Plant"].astype(str)
Main_file["Product Class Name"]=Main_file["Product Class Name"].astype(str)
Main_file["Sold To"]=Main_file["Sold To"].apply(pd.to_numeric,downcast='integer',errors='ignore') ########THIS CONVERTS NUMERIC STRINGS TO NUMERIC.  TAKES  A VERY LONG TIME TO RUN.  MUST FIND BETTER OPTION

In [0]:

len(Main_file["Sold To"].unique())

3614

In [0]:
####Used to Validate (1/2)
Main_file[(Main_file["Plant"] == '5473') & (Main_file["Material Code"]==443) & (Main_file["Product Form Name"]=="Bulk") & (Main_file["Product Class Name"]=='I..')].head()

       BASE LIST PRICE  ...  Transportation Mode Name
59086          5479.50  ...                     Truck
59087          5492.66  ...                     Truck
59088          4351.03  ...                     Truck
59089          4331.29  ...                     Truck
59090          5538.72  ...                     Truck

[5 rows x 43 columns]

In [0]:
#### CHANGE PRODUCT CLASS ONLY
Main_file["Product Class Name"][(Main_file["Plant"]=='5470') & (Main_file["Material Code"]==443) & (Main_file["Product Form Name"]=="Bulk") & (Main_file["Product Class Name"]=='I..')]='1/2'
Main_file["Product Class Name"][(Main_file["Plant"]=='5471') & (Main_file["Material Code"]==443) & (Main_file["Product Form Name"]=="Bulk") & (Main_file["Product Class Name"]=='I..')]='1/2'
Main_file["Product Class Name"][(Main_file["Plant"]=='5473') & (Main_file["Material Code"]==443) & (Main_file["Product Form Name"]=="Bulk") & (Main_file["Product Class Name"]=='I..')]='1/2'
Main_file["Product Class Name"][(Main_file["Plant"]=='5475') & (Main_file["Material Code"]==443) & (Main_file["Product Form Name"]=="Bulk") & (Main_file["Product Class Name"]=='I..')]='1/2'
Main_file["Product Class Name"][(Main_file["Plant"]=='5476') & (Main_file["Material Code"]==443) & (Main_file["Product Form Name"]=="Bulk") & (Main_file["Product Class Name"]=='I..')]='1/2'
Main_file["Product Class Name"][(Main_file["Plant"]=='5469') & (Main_file["Material Code"]==443) & (Main_file["Product Form Name"]=="Bulk") & (Main_file["Product Class Name"]=='I..')]='1/2'
Main_file["Product Class Name"][(Main_file["Plant"]=='5475') & (Main_file["Material Code"]==3041) & (Main_file["Product Form Name"]=="Bulk") & (Main_file["Product Class Name"]=='I..')]='1/2'

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  import sys

In [0]:
### Validate (2/2).  SHould be empty dataframe
Main_file[(Main_file["Plant"]=='5473') & (Main_file["Material Code"]==443) & (Main_file["Product Form Name"]=="Bulk") & (Main_file["Product Class Name"]=='I..')].head()

Empty DataFrame
Columns: [BASE LIST PRICE, Billing document, Business Region, Business Region Name, Cal. year / month, Calendar day, Customer Group, Customer Group Name, DEDUCTIONS, Incoterms, Incoterms Name, Industry Code, Industry Code Name, Material, Material Code, Micromarket, Micromarket Name, OUTBOUND FREIGHT, Parent, Parent Name, Plant, Plant Name, Product Class Name, Product Family, Product Family Name, Product Form, Product Form Name, Product Type, Product Type Name, Sales District, Sales District Name, Sales Group, Sales Group Name, Ship To, Ship To Name, Sold To, Sold To Name, Source Location, Source Location Name, TONS, TPM Average Selling Price, Transportation Mode, Transportation Mode Name]
Index: []

In [0]:
####VALIDATING (1/2).  Should have data
Main_file[(Main_file["Plant"]=='5473') & (Main_file["Material Code"]==443) & (Main_file["Product Form Name"]=="Bulk") & (Main_file["Product Class Name"]=='1/2')].head()

       BASE LIST PRICE  ...  Transportation Mode Name
59086          5479.50  ...                     Truck
59087          5492.66  ...                     Truck
59088          4351.03  ...                     Truck
59089          4331.29  ...                     Truck
59090          5538.72  ...                     Truck

[5 rows x 43 columns]

In [0]:
###### CHANGE PLANTS ONLY
Main_file["Plant"][(Main_file["Plant"]=='5473') & (Main_file["Material Code"]==443) & (Main_file["Product Form Name"]=="Bulk") & (Main_file["Product Class Name"]=='1/2')]='5475'
Main_file["Plant"][(Main_file["Plant"]=='5469') & (Main_file["Material Code"]==443) & (Main_file["Product Form Name"]=="Bulk") & (Main_file["Product Class Name"]=='1/2')]='5476'
Main_file["Plant"][(Main_file["Plant"]=='5487') & (Main_file["Material Code"]==5221) & (Main_file["Product Form Name"]=="Bulk") & (Main_file["Product Class Name"]=='OW.')]='7535'
Main_file["Plant"][(Main_file["Plant"]=='5487') & (Main_file["Material Code"]==5219) & (Main_file["Product Form Name"]=="Bulk") & (Main_file["Product Class Name"]=='OW.')]='7535'
Main_file["Plant"][(Main_file["Plant"]=='9269') & (Main_file["Material Code"]==1615) & (Main_file["Product Form Name"]=="Bulk") & (Main_file["Product Class Name"]=='1/2')]='5274'
Main_file["Plant"][(Main_file["Plant"]=='5496') & (Main_file["Material Code"]==9) & (Main_file["Product Form Name"]=="Bulk") & (Main_file["Product Class Name"]=='1/2')]='5598'

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [0]:
###Validating (2/2).  Should be empty dataframe
Main_file[(Main_file["Plant"]=='5473') & (Main_file["Material Code"]==443) & (Main_file["Product Form Name"]=="Bulk") & (Main_file["Product Class Name"]=='1/2')].head()

Empty DataFrame
Columns: [BASE LIST PRICE, Billing document, Business Region, Business Region Name, Cal. year / month, Calendar day, Customer Group, Customer Group Name, DEDUCTIONS, Incoterms, Incoterms Name, Industry Code, Industry Code Name, Material, Material Code, Micromarket, Micromarket Name, OUTBOUND FREIGHT, Parent, Parent Name, Plant, Plant Name, Product Class Name, Product Family, Product Family Name, Product Form, Product Form Name, Product Type, Product Type Name, Sales District, Sales District Name, Sales Group, Sales Group Name, Ship To, Ship To Name, Sold To, Sold To Name, Source Location, Source Location Name, TONS, TPM Average Selling Price, Transportation Mode, Transportation Mode Name]
Index: []

In [0]:
##### EXCLUDES SALES OFFICE 9000 UNLESS IT MEETS CERTAIN CRITERIA
Main_file["Include"]=1
Main_file["Include"][Main_file["Sales Group Name"].isin(['SOUTHERN TRADE','MIDWEST TRADE','TX/OK TRADE','MOUNTAIN TRADE'])]=0
Main_file["Include"][(Main_file["Plant"]=='5417') & (Main_file["Material Code"]==5153) & (Main_file["Product Form Name"]=="PACKAGED") & (Main_file["Product Class Name"]=='I..')& Main_file["Sold To"]==52521]=1
Main_file["Include"][(Main_file["Plant"]=='5417') & (Main_file["Material Code"]==5165) & (Main_file["Product Form Name"]=="PACKAGED") & (Main_file["Product Class Name"]=='III')& Main_file["Sold To"]==52521]=1
Main_file["Include"][(Main_file["Plant"]=='5417') & (Main_file["Material Code"]==5199) & (Main_file["Product Form Name"]=="PACKAGED") & (Main_file["Product Class Name"]=='N..')& Main_file["Sold To"]==52521]=1
Main_file["Include"][(Main_file["Plant"]=='5417') & (Main_file["Material Code"]==5201) & (Main_file["Product Form Name"]=="PACKAGED") & (Main_file["Product Class Name"]=='S..')& Main_file["Sold To"]==52521]=1
Main_file["Include"][(Main_file["Plant"]=='5417') & (Main_file["Material Code"]==5153) & (Main_file["Product Form Name"]=="PACKAGED") & (Main_file["Product Class Name"]=='I..')& Main_file["Sold To"]=='0000052521']=1
Main_file["Include"][(Main_file["Plant"]=='5417') & (Main_file["Material Code"]==5165) & (Main_file["Product Form Name"]=="PACKAGED") & (Main_file["Product Class Name"]=='III')& Main_file["Sold To"]=='0000052521']=1
Main_file["Include"][(Main_file["Plant"]=='5417') & (Main_file["Material Code"]==5199) & (Main_file["Product Form Name"]=="PACKAGED") & (Main_file["Product Class Name"]=='N..')& Main_file["Sold To"]=='0000052521']=1
Main_file["Include"][(Main_file["Plant"]=='5417') & (Main_file["Material Code"]==5201) & (Main_file["Product Form Name"]=="PACKAGED") & (Main_file["Product Class Name"]=='S..')& Main_file["Sold To"]=='0000052521']=1
Main_file["Include"][(Main_file["Plant"]=='7540') & (Main_file["Material Code"]==4831) & (Main_file["Product Form Name"]=="Bulk") & (Main_file["Product Class Name"]=='120')& Main_file["Sold To"]==62414]=1
Main_file["Include"][(Main_file["Plant"]=='7540') & (Main_file["Material Code"]==4921) & (Main_file["Product Form Name"]=="Bulk") & (Main_file["Product Class Name"]=='100')& Main_file["Sold To"]==62414]=1
Main_file["Include"][(Main_file["Plant"]=='7540') & (Main_file["Material Code"]==4831) & (Main_file["Product Form Name"]=="Bulk") & (Main_file["Product Class Name"]=='120')& Main_file["Sold To"]=='0000062414']=1
Main_file["Include"][(Main_file["Plant"]=='7540') & (Main_file["Material Code"]==4921) & (Main_file["Product Form Name"]=="Bulk") & (Main_file["Product Class Name"]=='100')& Main_file["Sold To"]=='0000062414']=1

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.6/dist-packages/pandas/core/ops/__init__.py:1115: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  result = method(y)
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  import sys
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if __name__ == '__main__':
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # Remove the CWD from sys.path while we load stuff.
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # This is added back by InteractiveShellApp.init_path()
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if sys.path[0] == '':
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  del sys.path[0]
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [0]:
#### The Number of Trade Sales that we are Including.  WE are only including only ones that meet the criteria above
Main_file["Include"][Main_file["Sales Group Name"].isin(['SOUTHERN TRADE','MIDWEST TRADE','TX/OK TRADE','MOUNTAIN TRADE'])].sum()

0

In [0]:
#####Proportion of data we are excluding that are trade sales
Main_file["Include"][Main_file["Include"]==0].count()/Main_file["Include"][Main_file["Include"]==1].count()

0.004169726763348589

In [0]:
#####SELECT ONLY DATA WITH 1'S
Main_file=Main_file[Main_file["Include"]==1]

In [0]:
print(Main_file["TONS"][pd.to_datetime(Main_file['Calendar day']).dt.year==2016].sum(),
Main_file["TONS"][pd.to_datetime(Main_file['Calendar day']).dt.year==2017].sum(),
Main_file["TONS"][pd.to_datetime(Main_file['Calendar day']).dt.year==2018].sum(),
Main_file["TONS"][pd.to_datetime(Main_file['Calendar day']).dt.year==2019].sum())

14912766.954000005 15217472.654000005 15532019.464000002 15803883.155

In [0]:
######WRITE OUT THE FILE 
os.chdir(dir_output)
Main_file.to_csv("Master_file.csv")

In [0]:
##########################################################################################################################################################################################################################################################
##########################################################################################################################################################################################################################################################
##########################################################################################################################################################################################################################################################
##########################################################################################################################################################################################################################################################
##########################################################################################################################################################################################################################################################
##################    


#START HERE IF DATA ALREADY GENERATED

In [53]:
###READ IN MASTER FILE

os.chdir(dir_output)
Master_files=pd.read_csv("Master_file.csv",parse_dates=True)

/usr/local/lib/python3.6/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (19,21,34,36,38,42) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [54]:
Master_files.columns

Index(['Unnamed: 0', 'BASE LIST PRICE', 'Billing document', 'Business Region',
       'Business Region Name', 'Cal. year / month', 'Calendar day',
       'Customer Group', 'Customer Group Name', 'DEDUCTIONS', 'Incoterms',
       'Incoterms Name', 'Industry Code', 'Industry Code Name', 'Material',
       'Material Code', 'Micromarket', 'Micromarket Name', 'OUTBOUND FREIGHT',
       'Parent', 'Parent Name', 'Plant', 'Plant Name', 'Product Class Name',
       'Product Family', 'Product Family Name', 'Product Form',
       'Product Form Name', 'Product Type', 'Product Type Name',
       'Sales District', 'Sales District Name', 'Sales Group',
       'Sales Group Name', 'Ship To', 'Ship To Name', 'Sold To',
       'Sold To Name', 'Source Location', 'Source Location Name', 'TONS',
       'TPM Average Selling Price', 'Transportation Mode',
       'Transportation Mode Name', 'Include'],
      dtype='object')

In [55]:
Master_files["Sold To"].str.strip().unique()

array(['52274', '17101', '90495', ..., '3133', '92642', '92741'],
      dtype=object)

In [56]:
########Take only company codes that are not projects#############
industry_code_projects=['11111', '233310', '233314', '23411','234113', '238118', '238119', '238991', '238992', '238993', '238994', '238999', '327310', '327392']

#industry_code_no_projects=['0001','120','212299','213111','235610','238990','32732','327320','327331','327332','327333','32739',
#'327390','327395','332619','42132','423320','444190','999901','999902']
industry_code_no_projects_num=[32732,	327333,	32739,	423320,	327332,	235610,	238993,	327392,	238118,	444190,	327320,	327331,	120,	238990,	233310,	327390,	212299,
                           213111,	238991,	332619,	238994,	238119,	42132,	238999,	327395,	238992,	327310,	444191,	235310,	327391]



Master_files=Master_files[Master_files["Industry Code"].isin(industry_code_no_projects_num)]
Master_files["Industry Code"].unique()

array([ 32732, 238993, 327331, 327333, 423320, 327332, 327320, 327390,
       238118, 238994, 327392, 233310, 213111, 238990,    120,  32739,
       235610, 444190, 238119, 238991,  42132, 238999, 332619, 238992,
       212299, 327391, 327395, 444191, 235310, 327310])

In [57]:
pd.to_datetime(Master_files["Calendar day"]).apply(lambda x: x.weekday())

0          2
1          3
2          2
3          3
4          4
          ..
2626546    4
2626547    4
2626548    3
2626549    4
2626550    2
Name: Calendar day, Length: 2427087, dtype: int64

In [0]:
##CREATE THE WEEK COLUMN.  THIS ROUNDS DATE TO THE NEXT WEEKDAY THAT YOU CHOOSE. 6=SUNDAY. WE WILL ROUND TO THE NEAREST FUTURE SUNDAY 
def next_weekday(d, weekday): ###'d' is the date from dataframe.  
    days_ahead = weekday - d.weekday() #'weekday' is the day of the week you want to move ahead (0=Monday, 1=Tuesday, 6=Sunday)
    if days_ahead <= 0: # Target day already happened this week
        days_ahead += 7
    return d + td(days_ahead)

In [59]:
####GROUPS THE ACTUAL VOLUMES BY 5 GROUPBY CLASSES.  CREATE THE 'WEEK' DATASET

Master_files["Week"]=pd.to_datetime(Master_files["Calendar day"]).apply(lambda x: next_weekday(x,6)) 
Master_files_week=Master_files[["Plant","Product Class Name","Product Form","Week","TONS"]]
Master_files_week=Master_files_week.groupby(by=["Plant","Product Class Name","Product Form","Week"]).sum().reset_index()
Master_files_week=Master_files_week[Master_files_week['TONS']>0]
Master_files_week['Week']=Master_files_week['Week'].map(str).str.strip().str[0:10]
Master_files_week["Week Key"]=Master_files_week['Plant'].map(str)+Master_files_week['Product Class Name'].map(str)+Master_files_week['Product Form'].map(str)+Master_files_week['Week'].map(str) ##CREATE WEEK KEY
Master_files_week["Week Key"].head()

0    20581/2B2016-01-10
1    20581/2B2016-01-17
2    20581/2B2016-01-24
3    20581/2B2016-01-31
4    20581/2B2016-02-07
Name: Week Key, dtype: object

In [60]:
# MONTH DATASET
Master_files_month=Master_files
Master_files_month["Month"]=pd.to_datetime(Master_files_month["Calendar day"]).apply(lambda x: x.replace(day=1))

Master_files_month["Plant"]=Master_files_month["Plant"].map(str).str.strip()
Master_files_month['Product Class Name']=Master_files_month['Product Class Name'].str.strip()
Master_files_month['Product Form']=Master_files_month['Product Form'].str.strip()
Master_files_month['Month']=Master_files_month['Month'].map(str).str.strip().str[0:10]
keep=["Plant","Product Class Name", "Product Form","Month","TONS"]
Master_files_month=Master_files_month[keep].groupby(by=["Plant","Product Class Name","Product Form","Month"]).sum().reset_index()
Master_files_month=Master_files_month[Master_files_month['TONS']>0]

Master_files_month["Month Key"]=Master_files_month['Plant'].map(str)+Master_files_month['Product Class Name'].map(str)+Master_files_month['Product Form'].map(str)+Master_files_month['Month'].map(str) ###CREATE MONTH KEY
Master_files_month.head()

  Plant Product Class Name  ...      TONS           Month Key
1  2058                1/2  ...    96.625  20581/2B2016-05-01
2  2058                1/2  ...    25.093  20581/2B2016-06-01
3  2058                1/2  ...    72.340  20581/2B2016-08-01
4  2058                1/2  ...   141.966  20581/2B2016-09-01
5  2058                1/2  ...  1765.238  20581/2B2016-10-01

[5 rows x 6 columns]

  Plant Product Class Name  ...       TONS           Month Key
1  2058                1/2  ...   7209.035  20581/2B2016-01-01
2  2058                1/2  ...   9822.000  20581/2B2016-02-01
3  2058                1/2  ...  15850.081  20581/2B2016-03-01
4  2058                1/2  ...  18887.453  20581/2B2016-04-01
5  2058                1/2  ...  15745.274  20581/2B2016-05-01

[5 rows x 6 columns]

In [61]:
Master_files_month[(Master_files_month["Plant"]=='2122')&(Master_files_month["Product Class Name"]=="1/2") & (pd.to_datetime(Master_files_month["Month"]).dt.month==10)]

   Plant Product Class Name  ...      TONS           Month Key
43  2122                1/2  ...    23.596  21221/2B2016-10-01
53  2122                1/2  ...   446.514  21221/2B2017-10-01
64  2122                1/2  ...  2396.688  21221/2B2018-10-01
76  2122                1/2  ...  4021.742  21221/2B2019-10-01

[4 rows x 6 columns]

    Plant Product Class Name  ...       TONS           Month Key
83   2122                1/2  ...  39705.037  21221/2B2016-10-01
95   2122                1/2  ...  43128.479  21221/2B2017-10-01
107  2122                1/2  ...  39581.961  21221/2B2018-10-01
119  2122                1/2  ...  35063.151  21221/2B2019-10-01

[4 rows x 6 columns]

In [62]:
import numpy as np
###############################################  WEEKLY #############################################
#### MERGES THE WEEKLY ACTUALS WITH THE WEEKLY FORECASTS.  OUTPUT ALL THE METRICS TO EXCEL FILES
### CREATE A LIST OF ALL THE FILES IN THE FOLDER SO WE CAN LOOP THROUGH THEM
os.chdir(sdf_dir_weekly)
sdf_forecast_files_weekly=os.listdir(sdf_dir_weekly)

writer=pd.ExcelWriter('SDF_weekly_noprojects.xlsx') ###CREATE THE EXCEL FILE
MAPE=[]
FCA=[]
WAPE=[]
for sdf_files in sdf_forecast_files_weekly:
  actuals=pd.read_csv(sdf_files,date_parser={"Month","Day","Year"})
  actuals["Time"]=actuals['forecasted_time']
  actuals["Plant"]=actuals["Plant"].map(str).str.strip()
  actuals['Product Class Name']=actuals['Product_Class'].str.strip()
  actuals['Product Form']=actuals['Product_Form'].str.strip()
  actuals['Time']=actuals['Time'].map(str).str.strip().str[0:10]
  actuals["Key"]=actuals["Plant"].map(str)+actuals["Product Class Name"].map(str)+actuals["Product Form"].map(str)+actuals["Time"].map(str)

  week=pd.merge(actuals,Master_files_week[["Week Key","TONS"]],how='inner',left_on='Key',right_on="Week Key")
  week=week.rename(columns={"TONS":"Actuals","volume":"Forecast"})
  week["Abs_Dif"]=np.abs(week["Actuals"].subtract(week["Forecast"]))
  week["APE"]=week["Abs_Dif"].divide(week["Actuals"])
  week["one"]=1
  week["APE_max1"]=week[["APE",'one']].min(axis=1)
  week=week.drop(["Time","Key",'Week Key','one','APE'],axis=1)
  FCA.append(week["Abs_Dif"].sum()/week["Actuals"].sum())
  MAPE.append(sdf_files +": "+ str(week["APE_max1"].mean()) )
  WAPE.append("Wape: "+ str(week["Abs_Dif"].sum()/week["Actuals"].sum()))
  #valuation.append(sdf_files +" : "+ str(tf.keras.metrics.mean_absolute_percentage_error(tf.cast(week["Actuals"],tf.float32),tf.cast(week["Forecast"],tf.float32)).numpy())+'%')
  week.to_excel(writer,sdf_files,index=False) ###ADDS IN TABS FOR THE EXCEL FILE
print("Mean Absolute Percentage Error: ",MAPE) 
print("FCA: ",FCA)
print("WAPE: ", WAPE)

Mean Absolute Percentage Error:  ['20190922_weekly_forecast.csv: 0.953931119292856', '20190825_weekly_forecast.csv: 0.9598629554806053', '20190725_weekly_forecast.csv: 0.9492241726928843']
FCA:  [8.8234125067642, 8.155238213718746, 7.894267505245001]
WAPE:  ['Wape: 8.8234125067642', 'Wape: 8.155238213718746', 'Wape: 7.894267505245001']
Mean Absolute Percentage Error:  ['20190922_weekly_forecast.csv: 0.5376518548168088', '20190825_weekly_forecast.csv: 0.5153121684113493', '20190725_weekly_forecast.csv: 0.4962612231656349']
FCA:  [0.6854988340743304, 0.5846945477285295, 0.4868974139226512]
WAPE:  ['Wape: 0.6854988340743304', 'Wape: 0.5846945477285295', 'Wape: 0.4868974139226512']

In [63]:
################################################   MONTHLY  #########################################
os.chdir(sdf_dir_monthly_v2)
sdf_forecast_files_monthly=os.listdir(sdf_dir_monthly_v2)
import numpy as np
from matplotlib import pyplot as plt


writer_monthly=pd.ExcelWriter('SDF_monthly_noprojects_v2.xlsx') ###Create the monthly excel file
MAPE=[]
MAPE_after=[]
FCA=[]
WAPE=[]
WAPE_after=[]
actuals=pd.DataFrame()
for sdf_files in sdf_forecast_files_monthly:
  time_cut=int(sdf_files[4:6])+1 ###1 month after only
  ####Read the actual files in 
  actuals=pd.read_csv(sdf_files,parse_dates=True)
  actuals["Time_temp"]=pd.to_datetime(actuals['forecasted_time'])#.map(str).apply(lambda x: x[:10]) ###Need this since python was not reading in dates correctly.
  actuals["Time"]=actuals['Time_temp'].map(str).str.strip().str[0:10]#.apply(lambda x: dt.datetime.strptime(x,'%y/%m/%d'))
  actuals["Plant"]=actuals["Plant"].map(str).str.strip() #get rid of leading and trailing blanks
  actuals['Product Class Name']=actuals['Product_Class'].replace("2-Jan","1/2").str.strip() ##python would read in 1/2 as 2-Jan.  Probably due to excel formatting issue
  actuals['Product Form']=actuals['Product_Form'].str.strip()
  actuals['Time']=actuals['Time'].map(str).str.strip().str[0:10]
  actuals["Key"]=actuals["Plant"].map(str)+actuals["Product Class Name"].map(str)+actuals["Product Form"].map(str)+actuals["Time"].map(str)  ##Create a key

  month=pd.merge(actuals,Master_files_month[["Month Key","Month","TONS"]],how='inner',left_on='Key',right_on="Month Key")
  month=month.rename(columns={"TONS":"Actuals","volume":"Forecast"})
  month["month_relevant"]=(month["Time"].map(str).str[5:7]).map(int)
  month["Abs_Dif"]=np.abs(month["Actuals"].subtract(month["Forecast"]))
  month["APE"]=month["Abs_Dif"].divide(month["Actuals"])
  month["APE"][(month["Actuals"]==0) & (month["Forecast"]==0)]=0
  month["one"]=1
  month["zero"]=0
  month["APE_max1"]=month[["APE",'one']].min(axis=1)
  #month["APE_max1"]=month[["APE",'zero']].max(axis=1)
  month=month.drop(["Time_temp","Key",'Month Key','one',"zero"],axis=1)
  FCA.append(month["Abs_Dif"].sum()/month["Actuals"].sum())
  MAPE.append(sdf_files +": "+ str(month["APE_max1"].mean()) )
  MAPE_after.append(sdf_files+": " + str(month[["APE_max1","month_relevant"]][month["month_relevant"]==time_cut]["APE_max1"].mean()) )
  WAPE.append(month["APE_max1"].multiply(month["Actuals"][month["month_relevant"]==time_cut]).sum()/month["Actuals"][month["month_relevant"]==time_cut].sum())
  WAPE_after.append(month["APE_max1"].multiply(month["Actuals"]).sum()/month["Actuals"].sum())
  month["Key"]=month["Plant"]+month["Product Class Name"]+month["Product Form"]+month["month_relevant"].astype(str)
  month["Metric"]=""
  month["Metric"][0]=str("MAPE 1 Month After: "+str(MAPE_after[-1]))
  month["Metric"][1]=str("MAPE:"+str(MAPE[-1])) 
  month["Metric"][2]=str("FCA:"+str(FCA[-1]))
  month["Metric"][3]=str("WAPE:"+str(WAPE[-1]))
  month["Metric"][4]=str("MAE:"+str(month['Abs_Dif'].mean()))
  keep2=["Plant","Product Class Name","Product Form","forecasted_time","Actuals","Forecast","Abs_Dif","APE","APE_max1","Metric"]
  month=month[keep2]
  month.to_excel(writer_monthly,str(sdf_files)[0:8],index=False)


  month_plot=month.set_index("forecasted_time")
  
  

print("Mean Absolute Percentage Error Next Month Only: ",MAPE_after,"%")
print("FCA: ",FCA,"%")
print("MAPE: ",MAPE,"%")
print("WAPE: ",WAPE,"%")
print("WAPE_1month_after:", WAPE_after,"%")

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:31: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:44: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:45: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:46: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:47: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:48: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

Mean Absolute Percentage Error Next Month Only:  ['20190825_monthly_forecast_nobigproj.csv: 0.9469579633872582', '20190925_monthly_forecast_nobigproj.csv: 0.9698434827186311', '20190725_monthly_forecast_nobigproj.csv: 0.9523933287071112'] %
FCA:  [8.811853553518839, 10.06717918977321, 8.380496215678564] %
MAPE:  ['20190825_monthly_forecast_nobigproj.csv: 0.9621969559721478', '20190925_monthly_forecast_nobigproj.csv: 0.9703424341385042', '20190725_monthly_forecast_nobigproj.csv: 0.9582583135356418'] %
WAPE:  [0.8232825177988184, 0.7976238471669486, 0.7838704859789668] %
WAPE_1month_after: [0.7968900597127794, 0.7924541693359812, 0.8000214028893646] %

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:31: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:44: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:45: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:46: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:47: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:48: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

Mean Absolute Percentage Error Next Month Only:  ['20190825_monthly_forecast_nobigproj.csv: 0.40851650264894807', '20190925_monthly_forecast_nobigproj.csv: 0.414292575994903', '20190725_monthly_forecast_nobigproj.csv: 0.4190067987257585'] %
FCA:  [0.4144713760296089, 0.5077868183613916, 0.36154247992390875] %
MAPE:  ['20190825_monthly_forecast_nobigproj.csv: 0.5263135790278973', '20190925_monthly_forecast_nobigproj.csv: 0.5563168242016501', '20190725_monthly_forecast_nobigproj.csv: 0.49748678838360977'] %
WAPE:  [0.21133212665125475, 0.1668965471511455, 0.207719184080756] %
WAPE_1month_after: [0.22258308309954325, 0.20494244882414034, 0.22642135176125022] %

In [0]:
##WRITE OUT THE MONTHLY FILE
os.chdir(sdf_dir)
##Master_files_month.to_excel("Master_files_month.xlsx")
##Master_files.to_excel("Master_files.xlsx")
writer.save()
writer_monthly.save() 

###################################################################################################################################################################################

###################################################################################################################################################################################

###################################################################################################################################################################################

In [0]:
#os.chdir(dir_output)
##Master_files[pd.to_datetime(Master_files["Calendar day"]).dt.year==2019].to_csv("Master_file_2019.csv")